body {
  font-family: arial;
  font-size: 20px;
  background-color: white;
  margin: 20px;
}

main {
  display: flex;
  justify-content: center;
}

header {
  background-image: linear-gradient(to right, #b5d5d8, #fcb1f2, #ffff00);
  padding: 8px;
  text-align: center;
  font-size: 35px;
  border-radius: 10px;
}

input {
  margin: 10px;
  border: 0px;
  border-radius: 30px;
  background-color: mediumorchid;
  color: white;
  width: 130px;
  height: 35px;
  font-size: 18px;
  text-align: center;
}

input:hover {
  background-color: rgb(148, 40, 175);
}

p {
  width: 470px;
  padding: 15px;
  margin: 50px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

footer {
  background-image: linear-gradient(to right, #b5d5d8, #fcb1f2, #ffff00);
  position: fixed;
  width: 95%;
  bottom: 20px;
  padding: 5px;
  font-size: 15px;
  text-align: center;
  border-radius: 10px;
}
